<phpunit
		bootstrap="./tests/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="Unit Tests">
			<testsuite name="unit" suffix=".php">
				<directory>./tests</directory>
			</testsuite>
		</testsuite>
	</testsuites>
</phpunit>
